<ion-view view-title="Info" class="padding">
  <ion-content>
    <div class="bar bar-header bar-assertive">
      <button class="button button-icon icon ion-navicon light" ng-click="sidemenuToggle()"></button>
      <h1 class="title">Red Button</h1>
    </div>
    <div class="bar bar-subheader bar-stable">
      <h2 class="title">Doenças e Alergias</h2>
    </div>
    <div style="padding-top: 85px;">
      <div class="center-align">
        <h4>Doenças</h4>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <ion-list>

            <ion-checkbox ng-repeat="disease in diseases" ng-model="disease.checked">{{disease.name}}</ion-checkbox>

          </ion-list>
        </div>
      </div>
      <div class="center-align">
        <h4>Alergias</h4>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <ion-list>

            <ion-checkbox ng-repeat="allergy in alergies" ng-model="allergy.checked">{{allergy.name}}</ion-checkbox>

          </ion-list>
        </div>
      </div>
    </div>
    <div class="center-align">
      <button class="button button-balanced" ng-click="save()">
        Salvar
      </button>
    </div>
    </div>

  </ion-content>
</ion-view>

