<ion-view view-title="Info" class="padding">
  <ion-content>
    <div class="bar bar-header bar-assertive">
      <button class="button button-icon icon ion-navicon light" ng-click="sidemenuToggle()"></button>
      <h1 class="title">Red Button</h1>
    </div>
    <div class="bar bar-subheader bar-stable">
      <h2 class="title">Informações do Paciente</h2>
    </div>
    <div class="list" style="padding-top: 85px;">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" ng-model="patient.name" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nº do Plano de Saúde</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Telefone do Plano de Saúde</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Típo Sanguíneo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Doador de Orgãos</span>
        <select ng-model="patient.donor">
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
      </label>
    </div>
    <div class="center-align">
      <button class="button button-balanced" ng-click="save()">
        Salvar
      </button>
    </div>
  </ion-content>
</ion-view>

