/* Empty. Add your own CSS if you like */
.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.start-button{
  position: fixed;
  margin-left: -15px;
  bottom: 10px;
}

.outer-vertical-align {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.inner-vertical-align {
  margin: auto auto;
}

.title-image{
  max-width: 100%;
  height: auto;
}

.home-background{
  background-color: #d32f2f;
}

.bold{
  font-weight: bold;
}
